section {
  height: 100%;
  width: 100%;
  padding: 30px;
}

.card {
  max-height: 400px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2em;

  & > * {
    margin-bottom: 1em;
  }
}
